if SHIELD_SPLITKB_AURORA_LILY58_DONGLE

config ZMK_KEYBOARD_NAME
	default "Aurora Lily58"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SPLITKB_AURORA_LILY58_DONGLE || SHIELD_SPLITKB_AURORA_LILY58_LEFT || SHIELD_SPLITKB_AURORA_LILY58_RIGHT

config ZMK_SPLIT
	default y
	
endif
